{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_category_list'|trans }}
{% endblock %}

{% block body %}
    <h1 class="float-sm-left">{{ 'title_category_list'|trans }}</h1>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ url('category_create') }}" title="{{ 'action_create_category'|trans }}" class="btn btn-primary float-sm-right">
        {{ 'action_create_category'|trans }}
    </a>
    {% endif %}

    {% if pagination is defined and pagination.items|length %}

        <table class="table table-striped">
            <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination, 'label_id'|trans, 'category.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_created_at'|trans, 'category.createdAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_updated_at'|trans, 'category.updatedAt') }}</th>
                <th>{{ knp_pagination_sortable(pagination, 'label_title'|trans, 'category.title') }}</th>
                <th>{{ 'label_actions'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for category in pagination.items %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.createdAt|date('d.m.Y') }}</td>
                    <td>{{ category.updatedAt|date('d.m.Y') }}</td>
                    <td>{{ category.title }}</td>
                    <td>
                        <a href="{{ url('category_show', {id: category.id}) }}" title="{{ 'action_view'|trans }}" class="btn btn-info">
                            {{ 'action_view'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="navigation text-center">
            {{ knp_pagination_render(pagination) }}
        </div>

    {% else %}
        <div class="alert alert-primary" role="alert" id="empty_message">
            {{ 'message_empty_list'|trans }}
        </div>
    {% endif %}
{% endblock %}