{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_category_details'|trans({'%id%': category.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_category_details'|trans({'%id%': category.id|default('')}) }}</h1>
    {% if category is defined and category|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ category.id }}</dd>
            <dt>{{ 'label_created_at'|trans }}</dt>
            <dd>{{ category.createdAt|date('d.m.Y') }}</dd>
            <dt>{{ 'label_updated_at'|trans }}</dt>
            <dd>{{ category.updatedAt|date('d.m.Y') }}</dd>
            <dt>{{ 'label_title'|trans }}</dt>
            <dd>{{  category.title }}</dd>
        </dl>
        <p>
            <a href="{{ url('category_edit',{'id': category.id|default('')}) }}" title="{{ 'action_edit'|trans }}" class="btn btn-primary">
                {{ 'action_edit'|trans }}
            </a>
            <a href="{{ url('category_delete',{'id': category.id|default('')}) }}" title="{{ 'action_delete'|trans }}" class="btn btn-danger">
                {{ 'action_delete'|trans }}
            </a>
        </p>
        <p>
            <a href="{{ url('category_index') }}" title="{{ 'action_back_to_list_category'|trans }}" class="btn btn-secondary">
                {{ 'action_back_to_list_category'|trans }}
            </a>
        </p>
    {% else %}
        <div class="alert alert-primary" role="alert">
            {{ 'message_item_not_found'|trans }}
        </div>
    {% endif %}

    {# wyświetlanie zdjęć jako galerii #}
    <h3>{{ 'title_category_gallery'|trans }}</h3>
    <div class="row">
    {% if wallpaper is defined and wallpaper|length %}
        {% for wallpaper in wallpaper %}
            <div class="col-sm-6 col-md-4">
                <a href="{{ url('wallpaper_show', {id: wallpaper.id}) }}" class="thumbnail">
                    <img src="{{ asset('images/') ~ wallpaper.filename }}" alt="..." class="img-thumbnail">
                </a>
            </div>
        {% endfor %}
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
    </div>

{% endblock %}