{% extends 'base.html.twig' %}

{% block title %}{{"Admin_settings"|trans}}{% endblock %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn-lg btn-success">{{ 'Save'|trans }}</button>
    {{ form_end(form) }}

{% endblock %}