<h2><i class="pr-3 fa fa-comment"></i>{{ wallpaper.comments|length }} {{ 'comments'|trans }} </h2>
<a href="{{ url('wallpaper_comment', {id: wallpaper.id}) }}" title="{{ 'add_comment'|trans }}"
   class="btn btn-info">
    {{ 'add_comment'|trans }}
</a>
{% for comment in wallpaper.comments %}
    <div class="row">
        <div class="col-sm-12" id="comment">
            <small><strong>{{ comment.nick }}</strong></small>
            <small>{{ comment.email }}</small>
            <small>{{ comment.createdAt|date('d.m.Y H:i') }}</small>
            <br>
            <span> {{ comment.content }}</span>
        </div>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ url('wallpaper_comment_delete',{'id': comment.id|default('')}) }}"
               title="{{ 'action_delete_comment'|trans }}" class="btn-sm btn-danger">
                {{ 'action_delete_comment'|trans }}
            </a>
        {% endif %}
    </div>
{% endfor %}