{% extends 'base.html.twig' %}

{% block title %}
    {{ 'comment'|trans }}
{% endblock %}

{% block body %}

    <h1>{{ 'comment'|trans }}</h1>

    {{ form_start(form, { method: 'POST', action: url('wallpaper_comment', {id: wallpaper.id}) }) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-primary float-right">{{ 'send'|trans }}</button>
    {{ form_end(form) }}

{% endblock %}


