{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_wallpaper_edit'|trans({'%id%': wallpaper.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_wallpaper_edit'|trans({'%id%': wallpaper.id|default('')}) }}</h1>
    {{ form_start(form, { method: 'PUT', action: url('wallpaper_edit', {id: wallpaper.id}) }) }}
    {{ form_widget(form) }}
    <div class="form-group row float-sm-right">
        <input type="submit" value="{{ 'action_save'|trans }}" class="btn btn-success" />
    </div>
    <div class="form-group float-sm-left">
        <a href="{{ url('wallpaper_show',{'id': wallpaper.id|default('')}) }}" class="btn btn-secondary">
            {{ 'action_back_to_show'|trans }}
        </a>
        <a href="{{ url('wallpaper_index') }}" class="btn btn-secondary">
            {{ 'action_back_to_list'|trans }}
        </a>
    </div>
    {{ form_end(form) }}
{% endblock %}