{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_wallpaper_details'|trans({'%id%': wallpaper.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_wallpaper_details'|trans({'%id%': wallpaper.id|default('')}) }}</h1>
    {% if wallpaper is defined and wallpaper|length %}
        <img src="{{ asset('images/') ~ wallpaper.filename }}" alt="..." class="img-thumbnail">
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ wallpaper.id }}</dd>
            <dt>{{ 'label_title'|trans }}</dt>
            <dd>{{ wallpaper.title }}</dd>
            <dt>{{ 'label_filename'|trans }}</dt>
            <dd>{{ wallpaper.filename }}</dd>
            <dt>{{ 'label_created_at'|trans }}</dt>
            <dd>{{ wallpaper.createdAt|date('d.m.Y') }}</dd>
            <dt>{{ 'label_updated_at'|trans }}</dt>
            <dd>{{ wallpaper.updatedAt|date('d.m.Y') }}</dd>
            <dt>{{ 'label_category'|trans }}</dt>
            <dd>{{ wallpaper.category.title }}</dd>
            <dt>{{ 'label_description'|trans }}</dt>
            <dd>{{ wallpaper.description }}</dd>
        </dl>
        {% if is_granted('ROLE_ADMIN') %}
            <p>
                <a href="{{ url('wallpaper_edit',{'id': wallpaper.id|default('')}) }}" title="{{ 'action_edit'|trans }}"
                   class="btn btn-primary">
                    {{ 'action_edit'|trans }}
                </a>
                <a href="{{ url('wallpaper_delete',{'id': wallpaper.id|default('')}) }}"
                   title="{{ 'action_delete'|trans }}" class="btn btn-danger">
                    {{ 'action_delete'|trans }}
                </a>
            </p>
        {% endif %}

        <p>
            <a href="{{ url('wallpaper_index') }}" title="{{ 'action_back_to_list_wallpaper'|trans }}"
               class="btn btn-secondary">
                {{ 'action_back_to_list_wallpaper'|trans }}
            </a>
            <a href="{{ url('category_show', {id: wallpaper.category.id}) }}"
               title="{{ 'action_back_to_gallery'|trans }}" class="btn btn-secondary">
                {{ 'action_back_to_gallery'|trans }}
            </a>
        </p>

        <h2><i class="pr-3 fa fa-comment"></i>{{ wallpaper.comments|length }} {{ 'comments'|trans }} </h2>
        <a href="{{ url('wallpaper_comment', {id: wallpaper.id}) }}" title="{{ 'add_comment'|trans }}"
           class="btn btn-info">
            {{ 'add_comment'|trans }}
        </a>
        {% for comment in wallpaper.comments %}
            <div class="row">
                <div class="col-sm-12">
                    <small><strong>{{ comment.nick }}</strong></small>
                    <small>{{ comment.email }}</small>
                    <small>{{ comment.createdAt|date('d.m.Y H:i') }}</small>
                    <br>
                    <span> {{ comment.content }}</span>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ url('wallpaper_comment_delete',{'id': comment.id|default('')}) }}"
                       title="{{ 'action_delete_comment'|trans }}" class="btn-sm btn-danger">
                        {{ 'action_delete_comment'|trans }}
                    </a>
                {% endif %}
            </div>
        {% endfor %}
        <hr>
        <hr>
        <hr>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}