{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_wallpaper_details'|trans({'%id%': wallpaper.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title_wallpaper_details'|trans({'%id%': wallpaper.id|default('')}) }}</h1>
    {% if wallpaper is defined and wallpaper|length %}
        <img src="{{ asset('images/') ~ wallpaper.filename }}" alt="..." class="img-thumbnail">
        <dl class="dl-horizontal">
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ wallpaper.id }}</dd>
            <dt>{{ 'label_title'|trans }}</dt>
            <dd>{{ wallpaper.title }}</dd>
            <dt>{{ 'label_filename'|trans }}</dt>
            <dd>{{  wallpaper.filename }}</dd>
            <dt>{{ 'label_created_at'|trans }}</dt>
            <dd>{{ wallpaper.createdAt|date('d.m.Y') }}</dd>
            <dt>{{ 'label_updated_at'|trans }}</dt>
            <dd>{{ wallpaper.updatedAt|date('d.m.Y') }}</dd>
            <dt>{{ 'label_category'|trans }}</dt>
            <dd>{{  wallpaper.category.title }}</dd>
            <dt>{{ 'label_description'|trans }}</dt>
            <dd>{{  wallpaper.description }}</dd>
        </dl>
        <p>
            <a href="{{ url('wallpaper_edit',{'id': wallpaper.id|default('')}) }}" title="{{ 'action_edit'|trans }}" class="btn btn-primary">
                {{ 'action_edit'|trans }}
            </a>
            <a href="{{ url('wallpaper_delete',{'id': wallpaper.id|default('')}) }}" title="{{ 'action_delete'|trans }}" class="btn btn-danger">
                {{ 'action_delete'|trans }}
            </a>
        </p>
        <p>
            <a href="{{ url('wallpaper_index') }}" title="{{ 'action_back_to_list_wallpaper'|trans }}" class="btn btn-secondary">
                {{ 'action_back_to_list_wallpaper'|trans }}
            </a>
            <a href="{{ url('category_show', {id: wallpaper.category.id}) }}" title="{{ 'action_back_to_gallery'|trans }}" class="btn btn-secondary">
                {{ 'action_back_to_gallery'|trans }}
            </a>
        </p>

    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}